.body {
	overflow-x: hidden;
}

.form_temp {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: double;
	padding: 20px 20px;
}

/* .login_button {
	padding: 10px 10px;
	color: white;
	background-color: black;
} */

.button_outline {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -650%);
}

.or_text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -335%);
}

.sign_text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -260%);
	text-decoration: underline;
}

/* #submit_button {
  color: black;
  background-color: darkturquoise;
  font-size: 16px;
  padding: 5px;
  border-radius: 10%;
} */

.form_gmail {
	align-items: center;
}

#to_field {
	size: 18px;
	align-items: center;
}
